/* header */
.header {
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 99;
}

.header .inner-wrap {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.header .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header .inner-menu ul li {
    padding: 0 12px;
}

.header .inner-menu ul li:last-child {
    padding-right: 0;
}

.header .inner-menu ul li a {
    color: var(--color-text-1);
    font-weight: 500;
    font-size: 13px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.header .inner-menu ul li a:hover {
    color: var(--color-highlight);
}

.header .inner-bar {
    cursor: pointer;
    font-size: 20px;
    color: var(--color-text-1);
    display: none;
}

@media (max-width: 991.98px) {
    .header .inner-menu {
        display: none;
    }

    .header .inner-bar {
        display: block;
    }
} 

/* End header */

/* section-1 */
.section-1 {
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.section-1 .inner-content {
    text-align: center;
}

.section-1 .inner-content .inner-title {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}

.section-1 .inner-content .inner-desc {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
}

@media (max-width: 991.98px) {
    .section-1 .inner-content {
        margin-top: 175px;
    }

    .section-1 .inner-content .inner-title {
        margin-bottom: 15px;
    }

    .section-1 .inner-content .inner-desc {
        margin-bottom: 15px;
    }
}

@media (max-width: 767.98px) {
    .section-1 .inner-content {
        margin-top: 0;
    }

    .section-1 .inner-content .inner-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .section-1 .inner-content .inner-desc {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 40px;
    }
}

/* End section-1 */

/* section-2 */
.section-2 {
    margin-top: -185px;
}

.section-2 .inner-item {
    padding: 30px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    transition: all 0.3s;
}

.section-2 .inner-item .inner-icon {
    display: inline-flex;
    width: 90px;
    height: 90px;
    background-color: var(--color-main);
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.section-2 .inner-item:hover .inner-icon {
    background-color: var(--color-highlight);
}

.section-2 .inner-item .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-2 .inner-item .inner-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text-1);
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.section-2 .inner-item .inner-desc {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-text-2);
    letter-spacing: 0.5px;
    line-height: 25px;
}

@media (max-width: 991.98px) {
    .section-2 {
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .section-2 {
        margin-top: 100px;
    }
}
/* End section-2 */

/* section-3 */
.section-3 {
    padding-top: 70px;
}

.section-3 .inner-image {
    text-align: center;
}

.section-3 .inner-image img {
    max-width: 80%;
    height: auto;
}

.section-3 .inner-content .inner-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: var(--color-text-1);
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-3 .inner-content .inner-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-2);
    line-height: 28px;
    letter-spacing: 1px;
}

.section-3 .hr {
    width: 100%;
    height: 1px;
    margin-top: 100px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 991.98px) {
    .section-3 .inner-image {
        margin-bottom: 30px;
    }

    .section-3 .inner-image img {
        max-width: 50%;
        height: auto;
    }

    .section-3 .inner-content {
        text-align: center;
    }
}
/* End section-3 */

/* section-4 */
.section-4 {
    padding: 100px 0;
}

.section-4 .inner-image {
    text-align: center;
}

.section-4 .inner-image img {
    max-width: 80%;
    height: auto;
}

.section-4 .inner-content .inner-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: var(--color-text-1);
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-4 .inner-content .inner-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-2);
    line-height: 28px;
    letter-spacing: 1px;
}

@media (max-width: 991.98px) {
    .section-4 .inner-image {
        margin-top: 30px;
    }

    .section-4 .inner-image img {
        max-width: 50%;
        height: auto;
    }

    .section-4 .inner-content {
        text-align: center;
    }
}
/* End section-4 */

/* section-5 */
.section-5 {
    padding: 90px 0;
    background-image: url(../images/s5-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-5 .inner-item {
    position: relative;
}

.section-5 .inner-item::before {
    content: "";
    display: block;
    background-color: #ffffff58;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.section-5 .inner-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.section-5 .inner-box:hover {
    margin-top: -10px;
}

.section-5 .inner-icon img {
    margin-bottom: 20px;
}

.section-5 .inner-box .inner-title {
    font-weight: 400;
    font-size: 17px;
    color: var(--color-text-1);
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}

.section-5 .inner-box .inner-desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-2);
    letter-spacing: 0.75px;
}
/* End section-5 */

/* section-6 */

.section-6 {
    padding: 100px 0;
}

.section-6 .inner-icon {
    text-align: center;
}

.section-6 .inner-item {
    padding: 25px;
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}

.section-6 .inner-item .inner-desc {
    margin: 25px 0;
    font-weight: 400;
    font-size: 15px;
    color: var(--color-text-2);
    letter-spacing: 0.6px;
    line-height: 26px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.section-6 .inner-content {
    display: flex;
    align-items: center;
}

.section-6 .inner-avatar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.section-6 .inner-info {
    flex: 1;
    margin-left: 20px;
    transition: all 0.3s;
}

.section-6 .inner-item:hover .inner-info {
    margin-left: 30px;
}

.section-6 .inner-info .inner-name {
    font-weight: 400;
    font-size: 17px;
    color: var(--color-text-1);
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}

.section-6 .inner-info .inner-position {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-highlight);
    letter-spacing: 0.25px;
}

/* @media (max-width: 1199.98px) {
    .section-6 .inner-item {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-6 .inner-item .inner-desc {
        flex: 1;
    }
} */

@media (max-width: 991.98px) {
    .section-6 .inner-item {
        margin-bottom: 30px;
    }
}

/* End section-6 */

/* section-7 */
.section-7 {
    padding: 100px 0;
    background-color: var(--color-bg);
}

.section-7 .inner-item {
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 35px;
    text-align: center;
    border-radius: 20px;
}

.section-7 .inner-item .inner-head {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
    line-height: 40px;
    color: var(--color-text-1);
    margin-bottom: 15px;
}

.section-7 .inner-item .inner-price {
    padding-top: 20px;
    padding-bottom: 13px;
    background: var(--color-main);
    border-radius: 20px;
    color: #fff;
}

.section-7 .inner-item .inner-price.highlight {
    background-color: var(--color-highlight);
}

.section-7 .inner-item .inner-price span {
    font-weight: 500;
    font-size: 28px;
}

.section-7 .inner-item .inner-price .big {
    font-size: 32px;
}

.section-7 .inner-item .inner-price div {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
}

.section-7 .inner-main {
    padding: 40px 0;
}

.section-7 .inner-main ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section-7 .inner-main ul li {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 13px;
    color: var(--color-text-2);
    letter-spacing: 0.25px;
}

.section-7 .inner-main ul .text-decor {
    text-decoration: line-through;
}

.section-7 .inner-main ul li:last-child {
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .section-7 .inner-item {
        margin-bottom: 30px;
    }
}

/* End section-7 */

/* section-8 */
.section-8 {
    background-image: url(../images/s8-1.png);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    padding: 100px 0;
}

.section-8 .inner-item {
    color: #fff;
    margin: 15px 0;
    position: relative;
}

.section-8 .inner-item::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 20px;
    background-image: url(../images/s8-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 92%;
    top: calc(50% - 10px);
}

.section-8 .row .col-xl-3:last-child .inner-item::after {
    display: none;
}

.section-8 .inner-content {
    text-align: center;
    transition: all 0.3s;
}

.section-8 .inner-item:hover .inner-content {
    transform: translateY(-10px);
}

.section-8 .inner-item .inner-title {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.section-8 .inner-item .inner-desc {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}

@media (max-width: 991.98px) {
    .section-8 {
        padding: 60px 0;
        background-size: cover;
    }

    .section-8 .inner-item {
        margin: 0;
        padding: 20px 0;
    }

    .section-8 .inner-item::after {
        display: none;
    }
}

/* End section-8 */

/* section-9 */
.section-9 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-9 .inner-item {
    text-align: center;
    margin-bottom: 30px;
}

.section-9 .inner-item .inner-image {
    width: 100%;
    aspect-ratio: 350/200;
    border-radius: 20px;
    overflow: hidden;
}

.section-9 .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-9 .inner-item .inner-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-9 .inner-item .inner-title a {
    font-size: 18px;
    color: var(--color-text-1);
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 26px;
    transition: all 0.3s;
}

.section-9 .inner-item .inner-title a:hover {
    color: var(--color-highlight);
}

.section-9 .inner-item .inner-desc {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-text-2);
    letter-spacing: 0.26px;
    line-height: 26px;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

/* @media (max-width: 1199.98px) {
    .section-9 .inner-item {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-9 .inner-item .inner-desc {
        flex: 1;
        margin-bottom: 0;
    }
} */
/* End section-9 */

/* section-10 */
.section-10 {
    padding: 160px 0;
    background-color: var(--color-bg);
}

.section-10 .inner-content .inner-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text-1);
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-10 .inner-content .inner-desc {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.section-10 .inner-content .inner-desc p {
    margin-bottom: 28px;
}

.section-10 .inner-form input {
    color: var(--color-text-2);
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.section-10 .inner-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
    color: var(--color-text-2);
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 25px;
    margin-bottom: 30px;
}

/* End section-10 */

/* footer */
.footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding: 30px 0;
    text-align: center;
}

.footer .inner-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer .inner-social li {
    margin: 0 10px 10px;
}

.footer .inner-social li a {
    color: #9d5bd9;
    background-color: #fff;
    width: 36px;
    height: 36px;
    font-size: 16px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.footer .inner-social li a:hover {
    background-color: var(--color-highlight);
    color: #fff;
}

.footer .hr {
    width: 100%;
    border-bottom: 1px solid rgba(250,250,250,0.2);;
}

.footer .inner-copy {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    margin-top: 30px;
}
/* End footer */